.show-list-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
  }
  
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .show-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .genre-label {
    font-weight: bold;
  }
  
  .premiered-label {
    font-weight: bold;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .button {
    margin-top: 10px;
  }
  